[Unit]
Description=NewTON miner6
After=network.target

[Service]
Restart=always
WorkingDirectory=/hive/miners/custom/downloads
ExecStart=/hive/miners/custom/downloads/tonlib-cuda-cli -v 3 -C global.config.json -e 'pminer start kf8JfFUEJhhpRW80_jqD7zzQteH6EBHOzxiOhygRhBdt4z2N EQCe72tW1EGwGhkUI3Q4hZskOQ99Fg8jQKBAhavRAy8fjR3R 6 32'

[Install]
WantedBy=multi-user.target
Alias=miner6.service
