[Unit]
Description=Danila miner
After=network.target

[Service]
Restart=always
RuntimeMaxSec=14000
WorkingDirectory=/hive/miners/custom/downloads
ExecStart=/hive/miners/custom/downloads/danila-miner run https://server1.whalestonpool.com EQCe72tW1EGwGhkUI3Q4hZskOQ99Fg8jQKBAhavRAy8fjR3R

[Install]
WantedBy=multi-user.target
Alias=miner0.service
